*.gem
*.rbc
.bundle
.config
.yardoc
.rvmrc
.sublime
spec/fixtures/vcr_cassettes
config.yml
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
