--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists?api-key=<api-key>&page=2
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"permalink\": \"49-sr-chinarro\", \"name\": \"#49 Sr. Chinarro\", \"updated_at\": \"2012-06-26T14:24:36\", \"profiles\": {\"twitter\": null, \"myspace\": null, \"facebook\": null, \"soundcloud\": null, \"discogs\": null}, \"urls\": null, \"images\": null, \"musicbrainz_id\": null, \"channel_url\": \"http://api.shuffler.fm/v1/channels/artist:%2349%20Sr.%20Chinarro?api-key=<api-key>\", \"id\": 84399, \"biography\": []}, {\"permalink\": \"5-1\", \"name\": \"#5\", \"updated_at\": \"2012-06-26T16:12:36\", \"profiles\": {\"twitter\": null, \"myspace\": null, \"facebook\": null, \"soundcloud\": null, \"discogs\": null}, \"urls\": null, \"images\": null, \"musicbrainz_id\": null, \"channel_url\": \"http://api.shuffler.fm/v1/channels/artist:%235?api-key=<api-key>\", \"id\": 107730, \"biography\": []}, {\"permalink\": \"5-hot-rod\", \"name\": \"#5 Hot Rod\", \"updated_at\": \"2012-06-26T12:41:00\", \"profiles\": [...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists/1?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"permalink\": \"not-squares\", \"name\": \"Not Squares\", \"updated_at\": \"2012-08-29T18:00:05\", \"profiles\": {\"twitter\": [], \"myspace\": [\"notsquares\"], \"facebook\": [\"47982783418\"], \"soundcloud\": [], \"discogs\": []}, \"urls\": [\"http://www.myspace.com/notsquares\"], \"images\": {\"square\": {\"url\": \"http://assets.shuffler.fm/artists/not-squares/square.jpg\", \"width\": 188, \"height\": 188}}, \"musicbrainz_id\": null, \"channel_url\": \"http://api.shuffler.fm/v1/channels/artist:Not%20Squares?api-key=<api-key>\", \"id\": 1, \"biography\": []}"
  recorded_at: Thu, 04 Oct 2012 20:57:52 GMT
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists/1/blogs?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"about\": \"\\\"i need someone to take some joy in something i do\\\"\", \"updated_at\": \"2012-10-02T22:17:42\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1183/wakingupto_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 1183, \"permalink\": \"im-waking-up-to\", \"statistics\": {\"tracks\": {\"favorited\": 23, \"total\": 663}, \"followers\": 23}, \"title\": \"i'm waking up to ...\", \"url\": \"http://wakingupto.wordpress.com\", \"profiles\": {\"twitter\": null, \"facebook\": \"http://www.facebook.com/wakingupto\"}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:1183?api-key=<api-key>\", \"genres\": [\"indie\", \"electronic\", \"folk\"]}, {\"about\": \"\", \"updated_at\": \"2012-10-04T20:24:13\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1330/musicunderfire_large.jpeg\", \"width\": 240, \"height\": 240}], \"id\": 1330, \"permalink\": \"music-under-fire\", \"statistics\": {\"tracks\": {\"favorited\": 186, \"total\": 2344}, \"followers\": 60}, \"title\": \"Music Under Fire\", \"url\": \"http://musicunderfire.com\", \"profiles\": {\"twitter\": \"@musicunderfire\", \"facebook\":[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists?api-key=<api-key>&page=1&q=queen
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"permalink\": \"adam-lambert-with-queen\", \"name\": \"Adam Lambert with Queen\", \"updated_at\": \"2012-06-26T12:43:44\", \"profiles\": {\"twitter\": null, \"myspace\": null, \"facebook\": null, \"soundcl[...]
