--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"permalink\": \"deladap\", \"name\": \"!Deladap\", \"updated_at\": \"2012-08-16T12:57:35\", \"profiles\": {\"twitter\": [], \"myspace\": [], \"facebook\": [\"60703417611\"], \"soundcloud\": [], \"discogs\": [\"!deladap\"]}, \"urls\": [\"http://de.wikipedia.org/wiki/dela_dap\", \"http://www.discogs.com/artist/!deladap\", \"http://www.deladap.com\"], \"images\": {\"square\": {\"url\": \"http://assets.shuffler.fm/artists/deladap/square.jpg\", \"width\": 188, \"height\": 188}}, \"musicbrainz_id\": null, \"channel_url\": \"http://api.shuffler.fm/v1/channels/artist:%21Deladap?api-key=<api-key>\", \"id\": 161288, \"biography\": [\"it started in 2001 as a project idea in the studio of the prague born producer stani vana, then developed first into a trio and later into a seven member live ensemble. by now !deladap turns more and more into a creativity platform for gypsy rooted, central-european world sound.\"]}, {\"permalink\": \"distain\", \"name\": \"!Distain\", \"updated_at\": \"2012-06-26T12:52:15\", \"profiles\": {\"twitter\": null, \"myspace\": null, \"facebook\": null, \"soundcloud\": null, \"discogs\": null}, \"[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists/1?api-key=<api-key>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"permalink\": \"not-squares\", \"name\": \"Not Squares\", \"updated_at\": \"2012-08-29T18:00:05\", \"profiles\": {\"twitter\": [], \"myspace\": [\"notsquares\"], \"facebook\": [\"47982783418\"], \"soundcloud\": [], \"discogs\": []}, \"urls\": [\"http://www.myspace.com/notsquares\"], \"images\": {\"square\": {\"url\": \"http://assets.shuffler.fm/artists/not-squares/square.jpg\", \"width\": 188, \"height\": 188}}, \"musicbrainz_id\": null, \"channel_url\": \"http://api.shuffler.fm/v1/channels/artist:Not%20Squares?api-key=<api-key>\", \"id\": 1, \"biography\": [\"not squares are from belfast & london and make disco tunes.  new single out for free download here: http://soundcloud.com/not-squares/fall-far-not-squares  http://www.facebook.com/notsquares\"]}"
  recorded_at: Tue, 25 Sep 2012 20:54:37 GMT
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists/1/blogs?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Tue, 25 Sep 2012 20:54:37 GMT
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/artists?api-key=<api-key>&page=1&q=queen
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"permalink\": \"adam-lambert-with-queen\", \"name\": \"Adam Lambert with Queen\", \"updated_at\": \"2012-06-26T12:43:44\", \"profiles\": {\"twitter\": null, \"myspace\": null, \"facebook\": null, \"soundcl[...]
[...]
