--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&filter=featured&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"about\": \"Slingin' music since 2009 / Founder of Forest Family Records.\", \"updated_at\": \"2012-09-25T16:21:03\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/46/weeklytapedeck_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 46, \"permalink\": \"weekly-tape-deck\", \"statistics\": {\"tracks\": {\"favorited\": 5, \"total\": 283}, \"followers\": 93}, \"title\": \"Weekly Tape Deck\", \"url\": \"http://weeklytapedeck.com\", \"profiles\": {\"twitter\": \"@weeklytapedeck\", \"facebook\": null}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:46?api-key=<api-key>\", \"genres\": [\"experimental\", \"hip-hop\", \"lo-fi\"]}, {\"about\": \"Music Evangelist. Baltimore/DC-based music-blog where I share my taste in sounds & visuals. I appreciate bands and artists that kill it.\", \"updated_at\": \"2012-09-23T22:39:49\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/868/headunderwater_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 868, \"permalink\": \"head-underwater\", \"statistics\": {\"tracks\": {\"favorited\": 17, \"total\": 118}, \"followers\": 56}, [...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&filter=featured&page=2
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Tue, 25 Sep 2012 20:54:41 GMT
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs/1?api-key=<api-key>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"about\": \"\", \"updated_at\": \"2012-09-23T23:19:38\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1/tsururadio_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 1, \"permalink\": \"tsururadio\", \"statistics\": {\"tracks\": {\"favorited\": 1, \"total\": 453}, \"followers\": 21}, \"title\": \"tsururadio\", \"url\": \"http://tsururadio.com\", \"profiles\": {\"twitter\": \"@tsururadio\", \"facebook\": \"http://facebook.com/tsururadio\"}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:1?api-key=<api-key>\", \"genres\": [\"indie\", \"folk\", \"indie rock\"]}"
  recorded_at: Tue, 25 Sep 2012 20:54:41 GMT
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&page=1&q=queen
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Tue, 25 Sep 2012 20:54:41 GMT
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"about\": \"a music blog for music's sake\", \"updated_at\": \"2012-09-24T00:21:22\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/2311/mindfulearful_large.png\", \"width\": 240, \"height\": 240}], \"id\[...]
[...]
