--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"about\": \"\", \"updated_at\": \"2012-10-03T00:01:52\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1177/alienhits_large.png\", \"width\": 240, \"height\": 240}], \"id\": 1177, \"permalink\": \"1-hits-from-another-planet\", \"statistics\": {\"tracks\": {\"favorited\": 36, \"total\": 223}, \"followers\": 14}, \"title\": \"#1 Hits From Another Planet\", \"url\": \"http://alienhits.blogspot.com/\", \"profiles\": {\"twitter\": null, \"facebook\": null}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:1177?api-key=<api-key>\", \"genres\": [\"pop\", \"remix\", \"electronic\"]}, {\"about\": \"Welcome to #HipHopJourney. The main idea of this tumblr is 1/4 reminisce, 1/4 new school, and 2/4 knowledge. It\\u2019s a random hip-hop blog, but if you have something to contribute that is hip-hop related, click on the submit button. \\n\\nFor more information, click here.\\n\\nBlog is owned/operated by Nukirk\", \"updated_at\": \"2012-10-02T22:36:59\", \"images\": [], \"id\": 765, \"permalink\": \"hiphopjourney\", \"statistics\": {\"tracks[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&filter=featured&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"about\": \"The essential guide to independent music and beyond.\", \"updated_at\": \"2012-10-04T20:23:12\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1448/pitchfork_large.png\", \"wid[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs/1?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"about\": \"\", \"updated_at\": \"2012-10-02T23:12:23\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1/tsururadio_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 1, \"permalink\": \"tsururadio\", \"statistics\": {\"tracks\": {\"favorited\": 1, \"total\": 453}, \"followers\": 21}, \"title\": \"tsururadio\", \"url\": \"http://tsururadio.com\", \"profiles\": {\"twitter\": \"@tsururadio\", \"facebook\": \"http://facebook.com/tsururadio\"}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:1?api-key=<api-key>\", \"genres\": [\"indie\", \"folk\", \"indie rock\"]}"
  recorded_at: Thu, 04 Oct 2012 20:57:59 GMT
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&page=0&q=queen
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"about\": \"Sounds and images I like and force upon others on the internet, as is the modern way. \\n   \\nStuff I \\u2018contribute\\u2019 to:\\ngolbar\\u00e7a fuck yeah delphic fuck yeah flaming lips\\n\\n\\n  var _gaq = _gaq || [];\\n  _gaq.push(['_setAccount', 'UA-17028206-1']);\\n  _gaq.push(['_trackPageview']);\\n\\n  (function() {\\n    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;\\n    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';\\n    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);\\n  })();\", \"updated_at\": \"2012-10-02T22:05:06\", \"images\": [], \"id\": 1470, \"permalink\": \"queen-of-the-cast-offs\", \"statistics\": {\"tracks\": {\"favorited\": 1, \"total\": 123}, \"followers\": 4}, \"title\": \"Queen of the Cast Offs\", \"url\": \"http://castoffcrown.tumblr.com/\", \"profiles\": {\"twitter\": null, \"facebook\": null}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:1470?api-key=<api-key>\", \"genres\": [\"indie\", \"hip-hop\", \"electronic\"]}]"
  recorded_at: Thu, 04 Oct 2012 20:57:59 GMT
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/blogs?api-key=<api-key>&page=2&q=queen
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[]"
  recorded_at: Thu, 04 Oct 2012 20:58:00 GMT
recorded_with: VCR 2.2.5
