--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/media:mp3?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": \"http://musicforprogramming.net/?c=fourteen\", \"objectType\": \"blog_post\", \"description\": \"Datassette presents a series of mixes intended for listening while programming to aid concentration and increase productivity (also compatible with other activities).\", \"title\": \"Episode 14: Tahlhoff Garten + Untitled\"}, \"object\": {\"stream\": {\"url\": \"http://api.shuffler.fm/v1/tracks/1139883/stream\", \"platform\": \"mp3\"}, \"created_at\": \"2012-09-25T15:00:59\", \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/220x194.jpg\", \"width\": 220, \"height\": 194}, \"medium\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/medium.jpg\", \"width\": 452, \"height\": 364}, \"640x128\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/640x128.jpg\", \"width\": 640, \"height\": 128}, \"320x175\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/320x175.jpg\", \"width\": 320, \"height\": 175}, \"640x400\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/640x400.jpg\", \"width\": 640, \"height\": 400}, \"320x64\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/320x64.jpg\", \"width\": 320, \"height\": 64}, \"320x200\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/320x200.jpg\", \"width\": 320, \"height\": 200}, \"640x350\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/640x350.jpg\", \"width\": 640, \"height\": 350}, \"square\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/square.jpg\", \"width\": 200, \"height\": 200}, \"300x194\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/300x194.jpg\", \"width\": 300, \"height\": 194}, \"240x240\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/240x240.jpg\", \"width\": 240, \"height\": 240}, \"64x64\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/64x64.jpg\", \"width\": 64, \"height\": 64}, \"128x128\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/128x128.jpg\", \"width\": 128, \"height\": 128}, \"188x162\": {\"url\": \"http://assets.shuffler.fm/tracks/9d74432b735b084dc035af6aeed22b73/188x162.jpg\", \"width\": 188, \"height\": 162}}, \"objectType\": \"track\", \"id\": 1139883, \"metadata\": {\"genres\": null, \"artist\": {\"name\": \"Music For Programming\", \"id\": 23879}, \"title\": \"Episode 14 (Compiled by Tahlhoff Garten & Untitled)\", \"replaygain\": -3.98, \"duration\": 3554, \"external_ids\": {\"spotify\": null, \"deezer\": null}}}, \"actor\": {\"about\": \"Drones, Noise, Fuzz, Field recordings,, Vagueness (Hypnagogia),\\r\\nTextures without rhythm, Minor complex chords, Early music (Baroque, lute, harpsichord), Very few drums or vocals, Synth arpeggios, Awesome\\r\\nand Walls of reverb\\r\\n\", \"updated_at\": \"2012-09-25T17:29:15\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/4234/lute_large.png\", \"width\": 240, \"height\": 240}], \"id\": 4234, \"objectType\": \"blog\", \"permalink\": \"music-for-programming\", \"statistics\": {\"tracks\": {\"favorited\": 4, \"total\": 14}, \"followers\": 7}, \"title\": \"Music For Programming\", \"url\": \"http://musicforprogramming.net/\", \"profiles\": {\"twitter\": \"@datassette\", \"facebook\": null}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:4234?api-key=<api-key>\", \"genres\": [\"mixtape\", \"ambient\", \"electronic\"]}, \"verb\": \"post\", \"published\": \"2012-09-25T15:00:59\", \"position\": \"1348585207.13485852961616\", \"id\": \"34845441\"}, {\"target\": {\"url\": \"http://www.rollingstone.com/music/news/love-crime-by-spirit-animal-free-mp3-20120925\", \"objectType\": \"blog_post\", \"description\": \"Artist Spirit AnimalSong \\\"Love Crime\\\"Album This Is A Test  \\\"'Love Crime' is about a breakup a friend of mine went through where the other person lost interest abruptly and got with someone else very shortly after&nbsp; That's the \\\"crime\\\" in this case\\\" Spirit Anima[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/blog:1?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": \"http://tsururadio.com/2011/11/tsuru-the-bride-present%e2%80%a6-aaron-loves-meghan-vol-5-aaron-loves-meghan-loves-aaron-loves%e2%80%a6/\", \"objectType\": \"blog_post\", \"description[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/artist:Pixies?api-key=<api-key>&page=2
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": null, \"objectType\": \"blog_post\", \"description\": null, \"title\": null}, \"object\": {\"stream\": {\"url\": \"http://api.shuffler.fm/v1/tracks/118469/stream\", \"platform\"[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/punk+rock?api-key=<api-key>&page=2
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": \"http://midwesternhousewives.com/2012/08/aloha-motherfuckers-a-back-from-hawaii-mix.html\", \"objectType\": \"blog_post\", \"description\": \"It&#8217;s been a little while since m[...]
