--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/media:mp3?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": \"http://hiphopwired.com/2012/10/04/dee-1-ft-mannie-fresh-juvenile-the-man-in-my-city-listendownlaod/\", \"objectType\": \"blog_post\", \"description\": \"New Orleans MC and former Unsigned Hype for The Source,\\u00a0Dee -1, puts on for his city in this new joint. Listen as he links up with Mannie Fresh and Juvenile on \\\"The Man In My City.\\\" This record will be featured on The Focus Tape\\u00a0from Dee-1 is set to drop on October 9th. It doesn't get more New Orleans than this on the record from the former teacher turned rapper.\\u00a0C Smith handles the production dut\", \"title\": \"Dee-1 ft. Mannie Fresh & Juvenile - \\\"The Man In My City\\\" [LISTEN/DOWNLAOD]\"}, \"object\": {\"stream\": {\"url\": \"http://api.shuffler.fm/v1/tracks/1166793/stream\", \"platform\": \"mp3\"}, \"created_at\": \"2012-10-04T20:56:25\", \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/220x194.jpg\", \"width\": 220, \"height\": 194}, \"medium\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/medium.jpg\", \"width\": 452, \"height\": 364}, \"640x128\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/640x128.jpg\", \"width\": 640, \"height\": 128}, \"320x175\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/320x175.jpg\", \"width\": 320, \"height\": 175}, \"640x400\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/640x400.jpg\", \"width\": 640, \"height\": 400}, \"320x64\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/320x64.jpg\", \"width\": 320, \"height\": 64}, \"320x200\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/320x200.jpg\", \"width\": 320, \"height\": 200}, \"640x350\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/640x350.jpg\", \"width\": 640, \"height\": 350}, \"square\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/square.jpg\", \"width\": 200, \"height\": 200}, \"300x194\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/300x194.jpg\", \"width\": 300, \"height\": 194}, \"240x240\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/240x240.jpg\", \"width\": 240, \"height\": 240}, \"64x64\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/64x64.jpg\", \"width\": 64, \"height\": 64}, \"128x128\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/128x128.jpg\", \"width\": 128, \"height\": 128}, \"188x162\": {\"url\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/188x162.jpg\", \"width\": 188, \"height\": 162}}, \"objectType\": \"track\", \"id\": 1166793, \"metadata\": {\"genres\": null, \"artist\": {\"name\": \"Dee-1\", \"id\": 6257}, \"title\": \"The Man In My City (feat. Mannie Fresh & Juvenile) (Prod. by C Smith)\", \"replaygain\": -9.62, \"duration\": 258, \"external_ids\": {\"spotify\": null, \"deezer\": null}}}, \"actor\": {\"about\": \"Hip-Hop Wired will raise the bar for what we expect of Hip-Hop artist by asking them challenging and engaging questions. Our motto is just because you're from the hood doesn't mean that your mentality has to remain there. Smarten up!\", \"updated_at\": \"2012-10-04T20:56:37\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/4417/163460_10150377567595534_314414765533_16871378_5855519_n_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 4417, \"objectType\": \"blog\", \"permalink\": \"hiphopwired\", \"statistics\": {\"tracks\": {\"favorited\": 123, \"total\": 427}, \"followers\": 103}, \"title\": \"Hip Hop Wired\", \"url\": \"http://hiphopwired.com/\", \"profiles\": {\"twitter\": \"@hiphopwired\", \"facebook\": \"https://www.facebook.com/hiphopwired\"}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:4417?api-key=<api-key>\", \"genres\": [\"hip-hop\", \"rap\", \"remix\"]}, \"verb\": \"post\", \"published\": \"2012-10-04T20:56:25\", \"position\": \"1349379412.13493841970547\", \"id\": \"37602440\"}, {\"target\": {\"url\": \"http://madmackerel.org/2012/10/04/free-grant-lee-phillips-ep-on-noisetrade/\", \"objectType\": \"blog_post\", \"description\": \"Since first emerging in the early \\u201890s as the front-man and songwriter of trio Grant Lee Buffalo, \\u00a0founder Grant-Lee Phillips has been drawn to the conflicts at the heart of the American experience.\\nWalking in the Green Corn, his newest album\\u00a0has ten songs drawn from Phi[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/blog:1?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": \"http://tsururadio.com/2012/06/its-been-a-crash-test-dummies-kinda-weekend/\", \"objectType\": \"blog_post\", \"description\": \"And no&#8230; I don&#8217;t expect you to understand. [...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/artist:Pixies?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": \"http://cyanyde.tumblr.com/post/14476019345/hey-pixies-via-mzmew-must-be-a-devil-between\", \"objectType\": \"blog_post\", \"description\": \"Hey | Pixies\\n(via\\u00a0mzmew)\\[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/channels/punk+rock?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"target\": {\"url\": \"http://dasklienicum.blogspot.de/2012/09/ein-pfund-mp3-407.html\", \"objectType\": \"blog_post\", \"description\": \"die band formierte sich 2010 in los angeles und verbindet die b[...]
