--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/charts/popular?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"stream\": {\"url\": \"http://api.soundcloud.com/tracks/61786639/stream\", \"platform\": \"soundcloud\"}, \"created_at\": \"2012-10-01T07:16:53\", \"chart_data\": {\"position\": 1, \"feature_count\": 65, \"relative_position\": 0}, \"blog\": {\"about\": \"The 405 is an online Music/Art/Film magazine packed with the latest reviews, interviews, news, mixtapes, features & much more.\", \"updated_at\": \"2012-10-04T19:24:13\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1435/thefourohfive_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 1435, \"permalink\": \"the-405\", \"statistics\": {\"tracks\": {\"favorited\": 77, \"total\": 3218}, \"followers\": 77}, \"title\": \"The 405\", \"url\": \"http://thefourohfive.com\", \"profiles\": {\"twitter\": null, \"facebook\": null}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:1435?api-key=<api-key>\", \"genres\": [\"indie\", \"electronic\", \"remix\"]}, \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/220x194.jpg\", \"width\": 220, \"height\": 194}, \"medium\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/medium.jpg\", \"width\": 452, \"height\": 364}, \"300x194\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/300x194.jpg\", \"width\": 300, \"height\": 194}, \"320x175\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/320x175.jpg\", \"width\": 320, \"height\": 175}, \"640x400\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/640x400.jpg\", \"width\": 640, \"height\": 400}, \"240x240\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/240x240.jpg\", \"width\": 240, \"height\": 240}, \"320x200\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/320x200.jpg\", \"width\": 320, \"height\": 200}, \"640x350\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/640x350.jpg\", \"width\": 640, \"height\": 350}, \"square\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/square.jpg\", \"width\": 200, \"height\": 200}, \"640x128\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/640x128.jpg\", \"width\": 640, \"height\": 128}, \"320x64\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/320x64.jpg\", \"width\": 320, \"height\": 64}, \"64x64\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/64x64.jpg\", \"width\": 64, \"height\": 64}, \"128x128\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/128x128.jpg\", \"width\": 128, \"height\": 128}, \"188x162\": {\"url\": \"http://assets.shuffler.fm/tracks/b12192c29d1d9c17863f2fd58bfe96f8/188x162.jpg\", \"width\": 188, \"height\": 162}}, \"post\": {\"url\": \"http://thefourohfive.com/news/article/death-grips-decide-to-release-new-album-on-their-own-terms-listen-now\", \"description\": \"In a move that only a few bands could ever really get away with, Death Grips have stuck their middle fingers up at Epic Records (look above for evidence of that) and have released their new album, NO LOVE DEEP WEB, for us all to hear. \\nLook below for how the release came about, and head here to give it a listen (or below). Be warned though, the album cover has a lot to do with why it was censored.\", \"title\": \"Death Grips decide to release new album on their own terms, listen now\"}, \"id\": 1154135, \"metadata\": {\"genres\": null, \"title\": \"Come up and get me\", \"artist\": {\"name\": \"Death Grips\", \"id\": 590}, \"replaygain\": -8.66, \"duration\": 253, \"external_ids\": {\"spotify\": null, \"deezer\": null}}}, {\"stream\": {\"url\": \"http://www.youtube.com/v/Hy9W_mrY_Vk\", \"platform\": \"youtube\"}, \"created_at\": \"2012-10-02T04:04:40\", \"chart_data\": {\"position\": 2, \"feature_count\": 59, \"relative_position\": 0}, \"blog\": {\"about\": \"The essential guide to independent music and beyond.\", \"updated_at\": \"2012-10-04T20:23:12\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/1448/pitchfork_large.png\", \"width\": 240, \"height\": 240}], \"id\": 1448, \"permalink\": \"[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/charts/new?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"stream\": {\"url\": \"http://api.soundcloud.com/tracks/61786639/stream\", \"platform\": \"soundcloud\"}, \"created_at\": \"2012-10-01T07:16:53\", \"chart_data\": {\"position\": 1, \"feature_count\": 65, \"rela[...]
[...]
