--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/charts/popular?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"stream\": {\"url\": \"http://www.youtube.com/v/dBcCXX0aWhc\", \"platform\": \"youtube\"}, \"created_at\": \"2012-09-24T15:38:27\", \"chart_data\": {\"position\": 1, \"feature_count\": 61, \"relative_position\": 0}, \"blog\": {\"about\": \"\", \"updated_at\": \"2012-09-26T21:01:40\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/4120/Screen shot 2012-02-20 at 9.51.40 PM_large.png\", \"width\": 240, \"height\": 240}], \"id\": 4120, \"permalink\": \"in-the-riff\", \"statistics\": {\"tracks\": {\"favorited\": 102, \"total\": 751}, \"followers\": 25}, \"title\": \"In The Riff\", \"url\": \"http://www.intheriff.com/\", \"profiles\": {\"twitter\": null, \"facebook\": \"http://www.facebook.com/intheriffofficial\"}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:4120?api-key=<api-key>\", \"genres\": [\"hip-hop\", \"electronic\", \"indie\"]}, \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/220x194.jpg\", \"width\": 220, \"height\": 194}, \"medium\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/medium.jpg\", \"width\": 452, \"height\": 364}, \"300x194\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/300x194.jpg\", \"width\": 300, \"height\": 194}, \"320x175\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/320x175.jpg\", \"width\": 320, \"height\": 175}, \"640x400\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/640x400.jpg\", \"width\": 640, \"height\": 400}, \"240x240\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/240x240.jpg\", \"width\": 240, \"height\": 240}, \"320x200\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/320x200.jpg\", \"width\": 320, \"height\": 200}, \"640x350\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/640x350.jpg\", \"width\": 640, \"height\": 350}, \"square\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/square.jpg\", \"width\": 200, \"height\": 200}, \"640x128\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/640x128.jpg\", \"width\": 640, \"height\": 128}, \"320x64\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/320x64.jpg\", \"width\": 320, \"height\": 64}, \"64x64\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/64x64.jpg\", \"width\": 64, \"height\": 64}, \"128x128\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/128x128.jpg\", \"width\": 128, \"height\": 128}, \"188x162\": {\"url\": \"http://assets.shuffler.fm/tracks/87cbb6675b256a194f27f96bbb9aa4e0/188x162.jpg\", \"width\": 188, \"height\": 162}}, \"post\": {\"url\": \"http://www.intheriff.com/2012/09/video-trimbal-confidence-boost.html\", \"description\": \"De la colaboraci\\u00f3n con Trim y James Blake sali\\u00f3 el \\\"Confidence Boost\\\" (Harmonimix), que desde hoy ya tiene su v\\u00eddeo. Por cierto, que James Blake parece que sacar\\u00e1 nuevo \\u00e1lbum, a\\u00fan sin fecha de salida ni m\\u00e1s datos.\", \"title\": \"Video: Trimbal - \\\"Confidence Boost\\\" (Harmonimix)\"}, \"id\": 1135997, \"metadata\": {\"genres\": null, \"title\": \"Confidence Boost (Harmonimix)\", \"artist\": {\"name\": \"Trimbal\", \"id\": 170533}, \"replaygain\": null, \"duration\": null, \"external_ids\": {\"spotify\": \"spotify:track:79pnCya7gwOXSXOzA5N7cI\", \"deezer\": null}}}, {\"stream\": {\"url\": \"http://www.youtube.com/v/WBGbYagI6G4\", \"platform\": \"youtube\"}, \"created_at\": \"2012-09-24T21:48:19\", \"chart_data\": {\"position\": 2, \"feature_count\": 42, \"relative_position\": 11}, \"blog\": {\"about\": \"in the middle we stay calm, we just drop bombs\", \"updated_at\": \"2012-09-26T21:30:26\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/674/2dopeboyz_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 674, \"permalink\": \"2dopebo[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/charts/new?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"stream\": {\"url\": \"http://www.youtube.com/v/dBcCXX0aWhc\", \"platform\": \"youtube\"}, \"created_at\": \"2012-09-24T15:38:27\", \"chart_data\": {\"position\": 1, \"feature_count\": 61, \"relative_position\"[...]
[...]
