--- 
recorded_with: VCR 2.2.5
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/genres?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"image\": \"http://www.hitthefloor.co.uk/wp-content/uploads/2012/09/lana-del-rey-born-to-die-paradise-edition.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/indie?api-key=<api-key>\", \"id\": 22, \"name\": \"indie\"}, {\"image\": \"http://assets.shuffler.fm/tracks/fba5f07040bd0be35765d62500037656/240x240.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/electronic?api-key=<api-key>\", \"id\": 13, \"name\": \"electronic\"}, {\"image\": \"http://assets.shuffler.fm/tracks/b042dad8c68a3aa387edf403f88fa1cf/240x240.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/hip-hop?api-key=<api-key>\", \"id\": 2, \"name\": \"hip-hop\"}, {\"image\": \"http://assets.shuffler.fm/tracks/cfefda7[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/genres/1?api-key=<api-key>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"image\": \"http://assets.shuffler.fm/tracks/0390679292b14262c50faa442c81946e/240x240.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/1?api-key=<api-key>\", \"id\": 11488, \"name\": \"1\"}"
  recorded_at: Thu, 27 Sep 2012 20:58:20 GMT
[...]
