--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/genres?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"image\": \"http://assets.shuffler.fm/tracks/e549b08aa796ffde97a69c3329367ad1/240x240.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/indie?api-key=<api-key>\", \"id\": 22, \"name\": \"indie\"}, {\"image\": \"http://assets.shuffler.fm/tracks/ebf97c5acfa7c3a98958e3dab65db8ef/240x240.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/electronic?api-key=<api-key>\", \"id\": 13, \"name\": \"electronic\"}, {\"image\": \"http://assets.shuffler.fm/tracks/46038ec804b114c9cb8ec97cdb7d59be/240x240.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/hip-hop?api-key=<api-key>\", \"id\": 2, \"name\": \"hip-hop\"}, {\"image\": \"http://assets.shuffler.fm/tracks/e549b08[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/genres/1?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"image\": \"http://assets.shuffler.fm/tracks/0390679292b14262c50faa442c81946e/240x240.jpg\", \"channel_url\": \"http://api.shuffler.fm/v1/channels/1?api-key=<api-key>\", \"id\": 11488, \"name\": \"1\"}"
  recorded_at: Thu, 04 Oct 2012 20:58:08 GMT
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/genres/0?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Thu, 04 Oct 2012 20:58:08 GMT
recorded_with: VCR 2.2.5
