--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/tracks?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"stream\": {\"url\": \"http://api.soundcloud.com/tracks/58807146/stream\", \"platform\": \"soundcloud\"}, \"created_at\": \"2012-10-04T20:57:29\", \"blog\": {\"about\": \"\", \"updated_at\": \"2012-10-04T20:57:34\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/4440/logoBadgeBlurred_large.png\", \"width\": 240, \"height\": 240}], \"id\": 4440, \"permalink\": \"radioelectrolyon\", \"statistics\": {\"tracks\": {\"favorited\": 33, \"total\": 290}, \"followers\": 6}, \"title\": \"RadioElectroLyon\", \"url\": \"http://www.radioelectrolyon.fr\", \"profiles\": {\"twitter\": \"@RElectroLyon\", \"facebook\": \"http://www.facebook.com/pages/Radioelectrolyon/107904502605004\"}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:4440?api-key=<api-key>\", \"genres\": [\"electronic\", \"remix\", \"techno\"]}, \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/220x194.jpg\", \"width\": 220, \"height\": 194}, \"medium\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/medium.jpg\", \"width\": 452, \"height\": 364}, \"300x194\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/300x194.jpg\", \"width\": 300, \"height\": 194}, \"320x175\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/320x175.jpg\", \"width\": 320, \"height\": 175}, \"640x400\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/640x400.jpg\", \"width\": 640, \"height\": 400}, \"240x240\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/240x240.jpg\", \"width\": 240, \"height\": 240}, \"320x200\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/320x200.jpg\", \"width\": 320, \"height\": 200}, \"640x350\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/640x350.jpg\", \"width\": 640, \"height\": 350}, \"square\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/square.jpg\", \"width\": 200, \"height\": 200}, \"640x128\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/640x128.jpg\", \"width\": 640, \"height\": 128}, \"320x64\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/320x64.jpg\", \"width\": 320, \"height\": 64}, \"64x64\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/64x64.jpg\", \"width\": 64, \"height\": 64}, \"128x128\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/128x128.jpg\", \"width\": 128, \"height\": 128}, \"188x162\": {\"url\": \"http://assets.shuffler.fm/tracks/d236da33b4d6c7181065b5162f791b62/188x162.jpg\", \"width\": 188, \"height\": 162}}, \"post\": {\"url\": \"http://www.radioelectrolyon.fr/the-martinez-brothers-h-2-da-izzo-ep\", \"description\": \"The Martinez Brother nous propose un EP deep house ax\\u00e9 dancefloor, tout fra\\u00eechement sortit sur le label made in France de Franck Roger\\u00a0: Real Tone.\\nRespectivement \\u00e2g\\u00e9s de 18 et 21 ans les deux frangins new-yorkais Chris et Steve Martinez natifs du Bronx ne cessent pas de nous \\u00e9tonner par leurs productions.\\n&nbsp;\\nChris et Steve ont grandit autours de la musique, et plus particuli\\u00e8rement autours de\", \"title\": \"The Martinez Brothers \\u2013 H 2 Da Izzo EP\"}, \"id\": 1166795, \"metadata\": {\"genres\": null, \"title\": \"H 2 Da Izzo (Original Mix) - Real Tone\", \"artist\": {\"name\": \"The Martinez Brothers\", \"id\": 14792}, \"replaygain\": -6.34, \"duration\": 122, \"external_ids\": {\"spotify\": null, \"deezer\": null}}}, {\"stream\": {\"url\": \"http://api.soundcloud.com/tracks/58807081/stream\", \"platform\": \"soundcloud\"}, \"created_at\": \"2012-10-04T20:57:28\", \"blog\": {\"about\": \"\", \"updated_at\": \"2012-10-04T20:57:34\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/4440/logoBadgeBlurred_large.png\", \"width\": 240, \"height\": 240}], \"id\": 4440, \"permalink\": \"radioelectrolyon\", \"statistics\": {\"tracks\": {\"favorited\": 33, \"total\": 290}, \"followers\": 6}, \"title\"[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/tracks/1?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"stream\": {\"url\": \"http://api.shuffler.fm/v1/tracks/1/stream\", \"platform\": \"mp3\"}, \"created_at\": \"2011-05-17T10:23:30\", \"blog\": {}, \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tr[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/tracks/0?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Thu, 04 Oct 2012 20:57:56 GMT
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/tracks/1/stream?api-key=<api-key>&page=0
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 302
      message: FOUND
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Location: 
      - http://api.soundcloud.com/tracks/9598274/stream?consumer_key=WFhMwGBRy2BnBBB7IK7WiQ
    body: 
      string: |-
        <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
        <title>Redirecting...</title>
        <h1>Redirecting...</h1>
        <p>You should be redirected automatically to target URL: <a href="http://api.soundcloud.com/tracks/9598274/stream?consumer_key=WFhMwGBRy2BnBBB7IK7WiQ">http://api.soundcloud.com/tracks/9598274/stream?consumer_key=WFhMwGBRy2BnBBB7IK7WiQ</a>.  If not click the link.
  recorded_at: Mon, 08 Oct 2012 21:55:01 GMT
recorded_with: VCR 2.2.5
