--- 
http_interactions: 
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/tracks?api-key=<api-key>&page=1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "[{\"stream\": {\"url\": \"http://www.youtube.com/v/WlsahuZ_4oM\", \"platform\": \"youtube\"}, \"created_at\": \"2012-09-25T20:39:17\", \"blog\": {\"about\": \"If you're into music discovery and would like to make your music collection more interesting, you came to the right place. On my website and radio show (also available on my YouTube channel), I focus on classic alternative rock and what that music means to the music of today. \\r\\n\", \"updated_at\": \"2012-09-25T20:39:23\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/4422/alancross_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 4422, \"permalink\": \"\", \"statistics\": {\"tracks\": {\"favorited\": 90, \"total\": 716}, \"followers\": 6}, \"title\": \"A Journal of Musical Things\", \"url\": \"http://www.alancross.ca/a-journal-of-musical-things/\", \"profiles\": {\"twitter\": \"@alancross\", \"facebook\": \"http://www.facebook.com/alancross.ca\"}, \"channel_url\": \"http://api.shuffler.fm/v1/channels/blog:4422?api-key=<api-key>\", \"genres\": [\"rock\", \"indie\", \"canadian\"]}, \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/220x194.jpg\", \"width\": 220, \"height\": 194}, \"medium\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/medium.jpg\", \"width\": 452, \"height\": 364}, \"300x194\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/300x194.jpg\", \"width\": 300, \"height\": 194}, \"320x175\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/320x175.jpg\", \"width\": 320, \"height\": 175}, \"640x400\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/640x400.jpg\", \"width\": 640, \"height\": 400}, \"240x240\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/240x240.jpg\", \"width\": 240, \"height\": 240}, \"320x200\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/320x200.jpg\", \"width\": 320, \"height\": 200}, \"640x350\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/640x350.jpg\", \"width\": 640, \"height\": 350}, \"square\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/square.jpg\", \"width\": 200, \"height\": 200}, \"640x128\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/640x128.jpg\", \"width\": 640, \"height\": 128}, \"320x64\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/320x64.jpg\", \"width\": 320, \"height\": 64}, \"64x64\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/64x64.jpg\", \"width\": 64, \"height\": 64}, \"128x128\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/128x128.jpg\", \"width\": 128, \"height\": 128}, \"188x162\": {\"url\": \"http://assets.shuffler.fm/tracks/780df2af0d9f716fb2253d4895a140d6/188x162.jpg\", \"width\": 188, \"height\": 162}}, \"post\": {\"url\": \"http://www.alancross.ca/a-journal-of-musical-things/2012/9/25/theres-something-sweet-and-sad-about-this-rim-song.html\", \"description\": \"Alex Saunders is the VP for Developer Relations &amp; Ecosystem for Research in Motion. &nbsp;It's his job to keep...\", \"title\": \"There's Something Sweet and Sad About This RIM Song\"}, \"id\": 1141324, \"metadata\": {\"genres\": null, \"title\": \"Devs, BlackBerry Is Going To Keep On Loving You\", \"artist\": {\"name\": \"\", \"id\": 14}, \"replaygain\": null, \"duration\": null, \"external_ids\": {\"spotify\": null, \"deezer\": null}}}, {\"stream\": {\"url\": \"http://api.soundcloud.com/tracks/61152569/stream\", \"platform\": \"soundcloud\"}, \"created_at\": \"2012-09-25T20:36:53\", \"blog\": {\"about\": \"Nightclub and musicblog in Stockholm, focusing on indie\", \"updated_at\": \"2012-09-25T20:37:00\", \"images\": [{\"url\": \"http://assets.shuffler.fm/feeds/3483/dream_large.jpg\", \"width\": 240, \"height\": 240}], \"id\": 3483, \"permalink\": \"klub-bace\", \"statistics\": {\"tracks\": {\"favorited\": 202, \"total[...]
[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/tracks/1?api-key=<api-key>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json
    body: 
      string: "{\"stream\": {\"url\": \"http://api.shuffler.fm/v1/tracks/1/stream\", \"platform\": \"mp3\"}, \"created_at\": \"2011-05-17T10:23:30\", \"blog\": {}, \"images\": {\"220x194\": {\"url\": \"http://assets.shuffler.fm/tracks/a7[...]
- request: 
    method: get
    uri: http://api.shuffler.fm/v1/tracks/0?api-key=<api-key>
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: NOT FOUND
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: ""
  recorded_at: Tue, 25 Sep 2012 20:54:40 GMT
recorded_with: VCR 2.2.5
